.sidebarul{
    background-color: rgba(13, 17, 23);
    
    height:2000px;
    width: 230px;
    border: 2px solid rgb(36, 42, 48);
   
    display: flex;
    flex-direction: column;
   
    font-weight: lighter;
    color:#5e676b;
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
   

   
.sidebarli{
    list-style: none;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    width: 100%;
    text-align: left;
    border-left: 5px solid transparent;font-weight: bolder;}
.sidebarli:hover{

    color: lightcoral;
    border-left: 5px solid lightcoral;
    font-weight: bolder;
    cursor: pointer;
}
.dashboard{
    margin-top: 20px;
    width: 18px;
    height: 18px;
    font-size: larger;
    font-weight: bold;
    padding: 1px;
}

.quantich1{
    color: white;
    border-bottom: 3px solid #30363d;
    padding: 3px;
    font-size: 32px;
  font-weight: 700;
  color: white;
}

body{
   background-color: rgba(28, 33, 40);font-family: 'Inter', sans-serif;}
.contenthubh4{

    color:#8b949e;
}
.routingelems{
    color: #484f58;

   font-weight: lighter;

}
strong{
    background-color: rgb(33, 38, 45);
    color: rgb(139, 148, 129);
    padding: 6px;
    border-radius: 10px;
    width: 40px;
    height: 10px;
    margin-left: 20px;  

}
.activeMenu {
  background-color: #1a3a5c; 
  color: white;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 10px;
  width: 200px;
  border-left: 5px solid #1d4ed8; 

}
sup{
    height: 100;
    color: green;
}
